//
// Color Utility Classes
// --------------------------------------------------

// Color Fills
// -------------------------

@include generate-breakpoint-prefixes {

  &fill-brand {  background-color: $brand       !important; }
  &fill-bg {     background-color: $bg          !important; }
  &fill-none {   background-color: transparent  !important; }


  // Type Colors
  // -------------------------

  &type-base {    color: $base  !important; }
  &type-brand {  color: $brand  !important; }
  &type-white {  color: $white  !important; }

}
