//
// Typography
// --------------------------------------------------


// Load Canela

@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-Light-Web.eot');
  src: url('/fonts/Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-Light-Web.woff2') format('woff2'),
  url('/fonts/Canela-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-LightItalic-Web.eot');
  src: url('/fonts/Canela-LightItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-LightItalic-Web.woff2') format('woff2'),
  url('/fonts/Canela-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-Regular-Web.eot');
  src: url('/fonts/Canela-Regular-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-Regular-Web.woff2') format('woff2'),
  url('/fonts/Canela-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-RegularItalic-Web.eot');
  src: url('/fonts/Canela-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-RegularItalic-Web.woff2') format('woff2'),
  url('/fonts/Canela-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-Bold-Web.eot');
  src: url('/fonts/Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-Bold-Web.woff2') format('woff2'),
  url('/fonts/Canela-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('/fonts/Canela-BoldItalic-Web.eot');
  src: url('/fonts/Canela-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Canela-BoldItalic-Web.woff2') format('woff2'),
  url('/fonts/Canela-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}


// Base Type Styles

html {
  font-size: $base-font-size + px;
  font-family: $serif;
  font-weight: $regular;
  line-height: $line-height-body;
  color: $base;
  -webkit-font-feature-settings: "liga", "kern" !important;
  font-feature-settings:         "liga", "kern" !important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
}

.serif         { font-family: $serif; }
.serif-display { font-family: $serif-display; }
.sans 	       { font-family: $sans; }


// Base Text
// -------------------------

h1 {
  margin: 0;
  font-family: $serif-display;
  font-weight: $regular;
  line-height: $line-height-body;

  a {
    background-position: 0 1.05em;
  }
}

h2, h3, h4 {
  margin: 0;
  font-family: $serif-display;
  font-weight: $regular;
  line-height: $line-height-default;

  a {
    background-position: 0 1.05em;
  }
}

h5 {
  margin: 0;
  font-family: $serif-display;
  font-weight: $regular;
  line-height: $line-height-default;
}

h6 {
  margin: 0;
  font-family: $sans;
  font-weight: $regular;
  line-height: $line-height-default;
}

p {
  margin: 0;
}

a {
  color: $base;
  font-style: italic;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(153, 39, 55, 1) 100%, rgba(153, 39, 55, 0) 100%);
  background-repeat: repeat-x;
  background-size: 2px 1px;
  background-position: 0 1.1em;
  transition: all .3s ease;

  &:hover,
  &:active {
    color: $brand;
  }

  &.link-footer {
    font-style: normal;
    background: none;
    color: $brand;
 }
}


// Typography Emphasis and Styling

.bold,
strong,
b {
  font-weight: $bold;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.italic,
em,
i {
  font-style: italic;
}

.text-indent {
  text-indent: 5%;
}

.caps {
  text-transform: uppercase !important;
}

// Text Alignment

@include generate-breakpoint-prefixes {
  &text-left    { text-align: left    !important; }
  &text-center  { text-align: center  !important; }
  &text-right   { text-align: right   !important; }
  &text-justify { text-align: justify !important; }
}


// List styles
// -------------------------

// Ordered and unordered list,
// list items are block level
ol,
ul {
  padding-left: $space-4;
}


// Base & Responsive Text Sizes
// -------------------------

// xs breakpoint
p  { font-size: $xs-p; }
h1 { font-size: $xs-h1; }
h2 { font-size: $xs-h2; }
h3 { font-size: $xs-h3; }
h4 { font-size: $xs-h4; }
h5 { font-size: $xs-h5; }
h6 { font-size: $xs-h6; }
.p  { font-size: $xs-p  !important; }
.h1 { font-size: $xs-h1 !important; }
.h2 { font-size: $xs-h2 !important; }
.h3 { font-size: $xs-h3 !important; }
.h4 { font-size: $xs-h4 !important; }
.h5 { font-size: $xs-h5 !important; }
.h6 { font-size: $xs-h6 !important; }
.dek { font-size: $xs-dek !important; }
.workco { font-size: $xs-workco !important; }
.bio { font-size: $xs-bio !important; }
.other { font-size: $xs-other !important; }
.speak { font-size: $xs-speak !important; }

// sm breakpoint
@media (min-width: 375px) {
  p  { font-size: $sm-p; }
  h1 { font-size: $sm-h1; }
  h2 { font-size: $sm-h2; }
  h3 { font-size: $sm-h3; }
  h4 { font-size: $sm-h4; }
  h5 { font-size: $sm-h5; }
  h6 { font-size: $sm-h6; }
  .p  { font-size: $sm-p !important; }
  .h1 { font-size: $sm-h1 !important; }
  .h2 { font-size: $sm-h2 !important; }
  .h3 { font-size: $sm-h3 !important; }
  .h4 { font-size: $sm-h4 !important; }
  .h5 { font-size: $sm-h5 !important; }
  .h6 { font-size: $sm-h6 !important; }
  .dek { font-size: $sm-dek !important; }
  .workco { font-size: $sm-workco !important; }
  .bio { font-size: $sm-bio !important; }
  .other { font-size: $sm-other !important; }
  .speak { font-size: $sm-speak !important; }

}

// md breakpoint
@media (min-width: 750px) {
  p  { font-size: $md-p; }
  h1 { font-size: $md-h1; }
  h2 { font-size: $md-h2; }
  h3 { font-size: $md-h3; }
  h4 { font-size: $md-h4; }
  h5 { font-size: $md-h5; }
  h6 { font-size: $md-h6; }
  .p  { font-size: $md-p !important; }
  .h1 { font-size: $md-h1 !important; }
  .h2 { font-size: $md-h2 !important; }
  .h3 { font-size: $md-h3 !important; }
  .h4 { font-size: $md-h4 !important; }
  .h5 { font-size: $md-h5 !important; }
  .h6 { font-size: $md-h6 !important; }
  .dek { font-size: $md-dek !important; }
  .workco { font-size: $md-workco !important; }
  .bio { font-size: $md-bio !important; }
  .other { font-size: $md-other !important; }
  .speak { font-size: $md-speak !important; }
}

// lg breakpoint
@media (min-width: 1000px) {
  p  { font-size: $lg-p; }
  h1 { font-size: $lg-h1; }
  h2 { font-size: $lg-h2; }
  h3 { font-size: $lg-h3; }
  h4 { font-size: $lg-h4; }
  h5 { font-size: $lg-h5; }
  h6 { font-size: $lg-h6; }
  .p  { font-size: $lg-p !important; }
  .h1 { font-size: $lg-h1 !important; }
  .h2 { font-size: $lg-h2 !important; }
  .h3 { font-size: $lg-h3 !important; }
  .h4 { font-size: $lg-h4 !important; }
  .h5 { font-size: $lg-h5 !important; }
  .h6 { font-size: $lg-h6 !important; }
  .dek { font-size: $lg-dek !important; }
  .workco { font-size: $lg-workco !important; }
  .bio { font-size: $lg-bio !important; }
  .other { font-size: $lg-other !important; }
  .speak { font-size: $lg-speak !important; }
}

// xl breakpoint
@media (min-width: 1400px) {
  p  { font-size: $xl-p; }
  h1 { font-size: $xl-h1; }
  h2 { font-size: $xl-h2; }
  h3 { font-size: $xl-h3; }
  h4 { font-size: $xl-h4; }
  h5 { font-size: $xl-h5; }
  h6 { font-size: $xl-h6; }
  .p  { font-size: $xl-p !important; }
  .h1 { font-size: $xl-h1 !important; }
  .h2 { font-size: $xl-h2 !important; }
  .h3 { font-size: $xl-h3 !important; }
  .h4 { font-size: $xl-h4 !important; }
  .h5 { font-size: $xl-h5 !important; }
  .h6 { font-size: $xl-h6 !important; }
  .dek { font-size: $xl-dek !important; }
  .workco { font-size: $xl-workco !important; }
  .bio { font-size: $xl-bio !important; }
  .other { font-size: $xl-other !important; }
  .speak { font-size: $xl-speak !important; }
}


// Line Heights
// -------------------------

@include generate-breakpoint-prefixes {

  &line-height-tight {
    line-height: $line-height-tight !important;
  }

  &line-height-default {
    line-height: $line-height-default  !important;
  }

  &line-height-body {
    line-height: $line-height-body !important;
  }
}


// Ordered and unordered list,
// list items are block level
// -------------------------
ol,
ul {
  padding-left: $space-4;
}


// Unstyled keeps list items block level,
// just removes default browser padding and list-style
// -------------------------

.list-unstyled {
  margin-left:  0    !important;
  padding-left: 0    !important;
  list-style:   none !important;
}
