//
// Variables
// --------------------------------------------------

// Config
// -------------------------

// set to false to make responsive
// mixin give only xs- versions of
// responsive classes
$generate-responsive-classes: true !default;


// Fonts
// -------------------------

$serif:         "freight-text-pro", didot, georgia, serif;
$serif-display: "freight-big-pro", didot, georgia, serif;
$sans: 	        "freight-sans-pro", "helvetica neue", helvetica, arial, sans-serif;


$base-font-size: 19;

// Spacing
// -------------------------

$space-05:   2/$base-font-size + rem;
$space-1:    8/$base-font-size + rem;
$space-2:   16/$base-font-size + rem;
$space-3:   20/$base-font-size + rem;
$space-4:   24/$base-font-size + rem;
$space-5:   32/$base-font-size + rem;
$space-6:   48/$base-font-size + rem;
$space-7:   72/$base-font-size + rem;
$space-8:   96/$base-font-size + rem;
$space-9:  120/$base-font-size + rem;
$space-10: 150/$base-font-size + rem;


// Z-index
// -------------------------
$z-neg1: -1;
$z0: 0;
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;


// Colors
// -------------------------

$base:   #333;
$white:  #fff;
$brand: #E07B7B;
$bg:    #FFF5F5;


// Typography Sizes and Weights
// -------------------------

// xs breakpoint
$xs-p:  17/$base-font-size + rem;
$xs-h1: 32/$base-font-size + rem;
$xs-h2: 32/$base-font-size + rem;
$xs-h3: 24/$base-font-size + rem;
$xs-h4: 26/$base-font-size + rem;
$xs-h5: 20/$base-font-size + rem;
$xs-h6: 16/$base-font-size + rem;

// sm breakpoint
$sm-p:  18/$base-font-size + rem;
$sm-h1: 44/$base-font-size + rem;
$sm-h2: 36/$base-font-size + rem;
$sm-h3: 28/$base-font-size + rem;
$sm-h4: 30/$base-font-size + rem;
$sm-h5: 16/$base-font-size + rem;
$sm-h6: 14/$base-font-size + rem;

// md breakpoint
$md-p:  16/$base-font-size + rem;
$md-h1: 56/$base-font-size + rem;
$md-h2: 52/$base-font-size + rem;
$md-h3: 40/$base-font-size + rem;
$md-h4: 32/$base-font-size + rem;
$md-h5: 18/$base-font-size + rem;
$md-h6: 14/$base-font-size + rem;

// lg breakpoint
$lg-p:  18/$base-font-size + rem;
$lg-h1: 60/$base-font-size + rem;
$lg-h2: 56/$base-font-size + rem;
$lg-h3: 44/$base-font-size + rem;
$lg-h4: 32/$base-font-size + rem;
$lg-h5: 18/$base-font-size + rem;
$lg-h6: 16/$base-font-size + rem;

// xl breakpoint
$p:  19/$base-font-size + rem;
$h1: 84/$base-font-size + rem;
$h2: 80/$base-font-size + rem;
$h3: 60/$base-font-size + rem;
$h4: 50/$base-font-size + rem;
$h5: 19/$base-font-size + rem;
$h6: 16/$base-font-size + rem;

// weights
$book: 400;
$medium: 500;
$bold: 700;
$black: 900;


// Line height
// -------------------------

$line-height-hed: 1.07;
$line-height-body: 1.39;


// Borders
// -------------------------

$border: 3px solid $base;
$border-thick: 6px solid $bg;
