@charset "utf-8";

//
// Imports
// --------------------------------------------------

@import "variables";
@import "mixins";
@import "normalize";
@import "base";
@import "typography";
@import "colors";
@import "layout";
@import "borders";
@import "flexgrid";



// Custom CSS
// -------------------------

.boxed {
  padding-left: $space-1;
  margin-right: $space-2;
  padding-left: $space-1;
}

@media (min-width: 375px) { // sm breakpoint

  // Hacks ¯\_(ツ)_/¯
  .container {
    margin-right: $space-3;
    margin-left: $space-3;
  }
}

@media (min-width: 375px) and (max-width: 767px) {

  .topper {
    margin-right: $space-2;
    margin-left: $space-2;
  }
}

@media (min-width: 750px) { // md breaskpoint

  // Hacks ¯\_(ツ)_/¯
  .container {
    margin-right: $space-4;
    margin-left: $space-4;
  }

  .boxed {
    margin-left: 0;
    margin-right: $space-1;
  }

  .rule-approach {
    margin-left: -$space-3;
    height: 50%;
  }

  .rule-work {
    margin-left: -$space-3;
    margin-bottom:  -$space-3;
    height: 250%;
  }

  .cat {
    margin-top:  (-$space-7);
  }

}

@media (min-width: 1024px) { // lg breaskpoint

  // Container hack ¯\_(ツ)_/¯
  .container {
    margin-right: $space-7;
    margin-left: $space-7;
  }

  .rule-approach {
    margin-left: -$space-4;
    height: 65%;
  }

  .rule-work {
    margin-left: -$space-4;
    margin-bottom:  -200px;
    height: 175%;
  }

}

@media (min-width: 1360px) { // xl breakpoint

  // Container hack ¯\_(ツ)_/¯
  .container {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
  }

  .rule-approach {
    margin-left: -$space-4;
    height: 70%;
  }

  .rule-wapo {
    margin-left: -$space-3;
    margin-top:  $space-8;
    height: 105%;
  }
}

@media (min-width: 1360px) and (max-height: 800px ) {

  .topper {
    display: flex;
    align-items: center;
    height: 100vh;
    & h2 {
      margin-top: $space-1 !important;
      padding-top: 0 !important;
    }
    & h1 {
      margin-bottom: $space-2 !important;
    }
  }
}

@media (min-width: 1600px) {

  // Container hack ¯\_(ツ)_/¯
  .container {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
  }

}
